﻿
@{
    ViewBag.Title = "Index";
}
@model List<string>

<h2>Trade Finder</h2>


<body> <!-- onload="JavaScript:timedRefresh(5000);" -->
    <ul class="list-group">
        @if (Model != null)
        {
            foreach (var itm in Model)
            {
                <li class="list-group-item"> @Html.DisplayFor(m => itm) </li>
            }
        }
    </ul>
</body>


<script type="text/javascript">
    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }
</script>


