﻿
@{
    ViewBag.Title = "Saved Trades";
    @model List<Garage.Models.Garage_parser.Trade>
}


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<h2>Saved Trades</h2>

<ul class="list-group">
    @foreach (var trade in Model)
    {
        int delta = trade.HavePrice - trade.WantPrice;

        <li class="list-group-item">
            [H] @trade.Have: @trade.HavePrice - [W] @trade.Want: @trade.WantPrice
            <br><a href="https://rocket-league.com/@trade.TradeLink" target="_blank">Tradelink</a><br>
            <form action="/Home/Blacklist" method="post" id="Blacklist">
                <input type="button" onclick="Block('@trade.Platform')" value="To Blacklist"/> 
            </form><br>
            <a style="color:forestgreen; font-size:14px;">Profit: @delta</a>
        </li>
    }
</ul>

<script>

    function Block(sid) {
        var $form = $('#Blacklist');

        $.ajax({
            type: "POST",
            url: $form.attr('action'),
            data: 'Steamid=' + sid,
            error: function (xhr, status, error) {

            },
            success: function (response) {
            }
        });

        return false;

    }
   

</script>
